@model Registro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div>
    <form asp-action="Edit" class="form-group">
        <div class="form-row">
            <input type="hidden" asp-for="Id" />
            <div class="col-md-2">
                <label class="font-weight-bold">Nombre</label>
                <input type="text" asp-for="Nombre" />
            </div>


            <div class="col-md-2">
                <label class="font-weight-bold">Apellido</label>
                <input type="text" asp-for="Apellido" />
            </div>
        </div>

        <br>
        <div>
            <input type="number" asp-for="Edad" placeholder="Edad" />
        </div>

        <br>

        <div>
            <label class="font-weight-bold">Direccion</label>
        </div>

        <div>
            <input type="text" asp-for="Direccion" class="col-10" />
        </div>

        <br>

        <div>
            <label class="font-weight-bold">Contacto</label>
        </div>

        <div>
            <input type="number" asp-for="Contacto" />
        </div>


        <br>
        <div>
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>
</div>